In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Busselton,AU,2021-05-26 01:46:19,-33.6500,115.3333,56.05,64,89,13.18
1,1,Qaanaaq,GL,2021-05-26 01:46:20,77.4840,-69.3632,29.34,72,12,6.31
2,2,Dikson,RU,2021-05-26 01:45:01,73.5069,80.5464,23.90,92,39,8.75
3,3,Rikitea,PF,2021-05-26 01:46:20,-23.1203,-134.9692,77.68,79,56,16.60
4,4,Puerto Ayora,EC,2021-05-26 01:46:20,-0.7393,-90.3518,74.55,91,13,5.01

In [3]:
# get the data ypes
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [29]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Rikitea,PF,2021-05-26 01:46:20,-23.1203,-134.9692,77.68,79,56,16.60
4,4,Puerto Ayora,EC,2021-05-26 01:46:20,-0.7393,-90.3518,74.55,91,13,5.01
7,7,Inongo,CD,2021-05-26 01:46:22,-1.9500,18.2667,71.89,84,97,1.99
8,8,Itarema,BR,2021-05-26 01:46:22,-2.9248,-39.9167,76.77,82,87,9.95
9,9,Zholymbet,KZ,2021-05-26 01:46:23,51.7433,71.7122,81.48,27,0,3.89
10,10,Albany,US,2021-05-26 01:42:14,42.6001,-73.9662,74.05,68,100,4.79
13,13,Santa Luzia,BR,2021-05-26 01:42:58,-19.7697,-43.8514,71.94,73,0,4.76
14,14,Atuona,PF,2021-05-26 01:46:24,-9.8000,-139.0333,79.95,63,56,12.88
15,15,Touros,BR,2021-05-26 01:46:25,-5.1989,-35.4608,76.10,89,12,11.56
16,16,Harper,LR,2021-05-26 01:46:26,4.3750,-7.7169,79.65,86,100,4.72

In [30]:
preferred_cities_df.count()

City_ID       263
City          263
Country       263
Date          263
Lat           263
Lng           263
Max Temp      263
Humidity      263
Cloudiness    263
Wind Speed    263
dtype: int64

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
3        Rikitea      PF     77.68 -23.1203 -134.9692
4   Puerto Ayora      EC     74.55  -0.7393  -90.3518
7         Inongo      CD     71.89  -1.9500   18.2667
8        Itarema      BR     76.77  -2.9248  -39.9167
9      Zholymbet      KZ     81.48  51.7433   71.7122
10        Albany      US     74.05  42.6001  -73.9662
13   Santa Luzia      BR     71.94 -19.7697  -43.8514
14        Atuona      PF     79.95  -9.8000 -139.0333
15        Touros      BR     76.10  -5.1989  -35.4608
16        Harper      LR     79.65   4.3750   -7.7169

In [32]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [35]:
hotel_df

             City Country  Max Temp      Lat       Lng          Hotel Name
3         Rikitea      PF     77.68 -23.1203 -134.9692
4    Puerto Ayora      EC     74.55  -0.7393  -90.3518
7          Inongo      CD     71.89  -1.9500   18.2667
8         Itarema      BR     76.77  -2.9248  -39.9167
9       Zholymbet      KZ     81.48  51.7433   71.7122
..            ...     ...       ...      ...       ...                 ...
544     Shelburne      CA     77.49  44.0787  -80.2041
545        Nurota      UZ     71.69  40.5614   65.6886
546      Kentwood      US     79.18  42.8695  -85.6448
547     Les Cayes      HT     79.11  18.2000  -73.7500
548   Port-Gentil      GA     79.84  -0.7193    8.7815  Fengshui Residence

[263 rows x 6 columns]

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))